.user-container {
  background-color: white;
  padding: 20px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: xx-large;
  transition: transform 0.3s ease-in-out;
}

#user-img {
  height: 9rem;
  width: 9rem;
  border-radius: 50%;
  background: #000;
  box-shadow: 0px 0px 5px 0.2px;
}

.user-container:hover {
  transform: translateY(-10px);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}
