/* Main index files CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
}

body {
  background-color: whitesmoke;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  width: 50rem;
}

#name {
  text-align: center;
}

#title {
  margin-bottom: 2rem;
}
