.nav-container {
  display: flex;
  background-color: beige;
  padding: 20px;
  align-items: center;
  justify-content: space-evenly;
}

#navbar {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 20px;
}

Link {
  text-decoration: none;
}
